/*
* Plugin css
*/
.fcbk_share {
	display: inline-block;
	margin: 0 10px 0 0;
	line-height: inherit;
	height: auto;
}
.fcbk_share img,
.fcbk_like .fb_iframe_widget span {
	vertical-align: middle !important;
}
.fcbk_button a {
	height: auto;
}
.twttr_buttons {
	display: inline-block;
	margin: 0 5px 0 0;
	line-height: inherit;
	height: auto;
}
.twttr_twitter,
.twttr_followme,
.twttr_hashtag,
.twttr_mention {
	vertical-align: middle;
}
body.twentyfourteen .pntrst-button-wrap,
body.twentyfourteen .fcbk_share {
    vertical-align: super;
}
body.twentyfifteen .pntrst-button-wrap {
	vertical-align: top;
}
body.twentysixteen .lnkdn_buttons,
body.twentysixteen .fcbk_share {
	vertical-align: middle;
}
body.twentytwelve .pntrst-button-wrap,
body.twentytwelve .lnkdn_buttons {
	vertical-align: middle;
}
body.twentytwelve .fcbk_share,
body.twentytwelve .pntrst-button-wrap span {
	vertical-align: top;
}
body.twentythirteen .fcbk_share {
	vertical-align: super;
}
body.twentythirteen .pntrst-button-wrap span {
	vertical-align: top;
}
body.twentythirteen .lnkdn_buttons {
	vertical-align: middle;
}
