/*
* Plugin css
*/
.gglplsn_share,
.fcbk_share {
	display: inline-block;
	margin: 0 10px 0 0;
	line-height: inherit;
	height: auto;
}
.gglplsn_share {
	position: relative;
	max-width: 65px;
}
.gglplsn_share div,
.fcbk_share img,
.fcbk_like .fb_iframe_widget span {
	vertical-align: top !important;
}
.fcbk_button a {
	height: auto;
}
.twttr_buttons {
	display: inline-block;
	margin: 0 5px 0 0;
	line-height: inherit;
	height: auto;
}
.twttr_twitter,
.twttr_followme,
.twttr_hashtag,
.twttr_mention {
	vertical-align: text-bottom;
}
