/* BestWebSoft's Like & Share icon */
.menu-top.toplevel_page_facebook-button-plugin .wp-menu-image {
	font-family: 'bwsicons' !important;
}
.menu-top.toplevel_page_facebook-button-plugin .wp-menu-image:before {
	content: "\e90d";
	font-family: 'bwsicons' !important;
}