/*
* Plugin styles
*/
#fcbkbttn_settings_form select,
#fcbkbttn_settings_form input[type="text"],
#fcbkbttn_settings_form input[type="file"],
#fcbkbttn_settings_form input[type="number"] {
    min-width: 200px;
}
.fcbk_share {
	clear: both;
	line-height: 1;
}
.fcbk_button {
	display: inline-block;
	margin-right: 10px;
}
.fcbk_button a {
	display: block;
	border-bottom: 0px !important;
}
.fcbk_button a:hover {
	opacity: 0.9;
}
.fcbk_like {
	display: inline-block;
	position: relative;
}
.fb_edge_widget_with_comment span {
	width: 450px !important;
}
.fcbk_like iframe {
	max-width: 450px;
}
.fcbk_button a img {
	display: inline-block !important;
}
.fcbk_share img,
.fcbk_like .fb_iframe_widget span {
    vertical-align: top !important;
}
#fcbkbttn_id_option,
#fcbkbttn_layout_option {
	border-top: 1px solid #ccc;
}
#fcbkbttn_preview_content {
	margin-left: 10px;
}
#fcbkbttn_preview_content h3 {
    margin-top: 0;
    padding-top: 1em;
}
#fcbkbttn_preview {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
#fcbkbttn_settings_form {
    display: inline-block;
    margin-right: 20px;
}
