/* admin page menu */
.menu-top.toplevel_page_twitter .wp-menu-image {
	font-family: 'bwsicons' !important;
}
.menu-top.toplevel_page_twitter .wp-menu-image:before {
	content: "\e931";
	font-family: 'bwsicons' !important;
}