.gglplsn_badge {
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 5px 0 !important;
}
.gglplsn_hangout,
.gglplsn_follow,
.gglplsn_plus_one,
.gglplsn_share {
	margin-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}
.gglplsn-unvisible-notice {
	display: none;
}
.gglplsn-view-invited {
	margin: 10px 0 0 0;
}
.gglplsn-view-invited-noscript {
	margin: 14px 0 -19px 1px;
}
#gglplsn_invite_id_error {
	border-left: 5px solid red;
	margin-top: 5px;
}
.rtl #gglplsn_invite_id_error {
	border-right: 5px solid red;
	border-left: none;
	margin-top: 5px;
}
#gglplsn_invite_id_error span {
	background-color: #fff;
	padding: 2px 10px;
	display: inline-block;
}
.gglplsn-hangout-invite-id th,
.gglplsn-hangout-invite-id td {
	padding-top: 0;
}
.gglplsn-noscript-hr {
	width: 85%;
}
.gglplsn-view-invited-noscript p label {
	width: 100%;
	width: -webkit-calc(100% - 32px);
	width: -moz-calc(100% - 32px);
	width: calc(100% - 32px);
	word-wrap: break-word;
	display: inline-block;
	padding-left: 3px;
	margin-top: -9px;
}
.gglplsn-view-invited-noscript p input {
	float: left;
}
.rtl .gglplsn-view-invited-noscript p input {
	float: right;
}
.gglplsn-view-invited-noscript {
	padding-top: 3px;
}
.gglplsn-view-invited {
	margin-left: 14px;
	font-size: 12px;
	overflow: auto;
}
.gglplsn-view-invited span {
	margin-right: 25px;
	font-size: 13px;
	line-height: 1.8em;
	cursor: default;
	max-width: 100%;
	text-overflow: ellipsis;
	display: block;
	float: left;
	overflow: hidden;
}
.gglplsn-delbutton {
	margin: 1px 0 0 -17px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	text-indent: 0;
	position: absolute;
	display: block;
	float: left;
	overflow: hidden;
}
.gglplsn-delbutton:before {
	background: 0 0;
	color: #b4b9be;
	content: "\f153";
	display: block;
	font: 400 16px/20px dashicons;
	speak: none;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 1px 0;
}
.gglplsn-delbutton:hover:before {
	color: #c00;
}
.bws_pro_version_bloc img {
	max-width: 100%;
}
.gglplsn_badge {
	display: block;
	max-width: 100%;
	height: auto;
}
@media screen and ( max-width: 1170px ) {
	.gglplsn-view-invited-noscript p {
		max-width: 100%;
		max-width: -webkit-calc(100% - 32px);
		max-width: -moz-calc(100% - 32px);
		max-width: calc(100% - 32px);
	}
}
@media screen and ( max-width: 783px ) {
	.gglplsn-view-invited-noscript {
		margin-bottom: -9px;
	}
	.gglplsn-view-invited-noscript > p {
		margin-bottom: 5px !important;
	}
	.gglplsn-view-invited-noscript > p:last-child {
		margin-bottom: 0 !important;
	}
	.gglplsn-hangout-invite-id th {
		padding-top: 15px;
	}
	.gglplsn-hangout-invite-id td {
		padding-top: 10px;
	}
}