#gglplsn_settings_form_block {
	position: relative;
	overflow: hidden;
}
.gglplsn_how_to_use {
	float: right;
}
.rtl .gglplsn_how_to_use {
	float: left;
}
.gglplsn_buttons {
	margin-bottom: 5px;
}
.gglplsn_badge {
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 5px 0 !important;
}
.gglplsn-first {
	border-top: 1px solid #ccc;
}
.gglplsn_hangout,
.gglplsn_follow,
.gglplsn_plus_one,
.gglplsn_share {
	margin-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}
.gglplsn-form {
	display: inline-block;
	max-width: 801px;
	padding-right: 1px;
}
.gglplsn-preview-wrap {
	position: absolute;
	top: 32px;
	left: 825px;
	max-width: 60%;
	height: 556px;
	width: 365px;
	z-index: 10;
	border: 1px solid #aaa;
	background-color: #f1f1f1;
}
.rtl .gglplsn-preview-wrap {
	left: 0;
	right: 825px;
}
.gglplsn-plus-one-options .bws_pro_version_bloc th {
	padding-right: 10px;
}
.gglplsn-preview-wrap .bws_table_bg {
	width: 100%;
    height: 100%;
    position: absolute;
}
.gglplsn-preview-wrap .bws_pro_version_tooltip {
	width: 345px;
    position: absolute;
    bottom: 0;
}
.gglplsn-pro-version-preview {
	display: none;
}
.gglplsn-preview-wrap .notice-dismiss {
	top: 2px;
    right: 4px;
}
.gglplsn-preview-wrap h3 {
	margin: 15px 15px 0;
}
.gglplsn-preview-wrap img {
	position: absolute;
	padding: 2px;
}
.gglplsn-preview {
	position: relative;
	padding: 5%;
	width: auto;
	opacity: 1 !important;
}
.gglplsn-buttons-wrap {
	width: 100%;
	min-width: 340px;
}
.gglplsn-share-href {
	width: 100%;
}
.gglplsn-unvisible-notice {
	display: none;
}
.gglplsn-follow-focus,
.gglplsn-badge-focus {
	cursor: pointer;
}
.gglplsn-view-invited {
	margin: 10px 0 0 15px;
}
.gglplsn-view-invited-noscript {
	margin: 14px 0 -19px 1px;
}
#gglplsn_invite_id_error {
	border-left: 5px solid red;
	margin-top: 5px;
}
.rtl #gglplsn_invite_id_error {
	border-right: 5px solid red;
	border-left: none;
	margin-top: 5px;
}
#gglplsn_invite_id_error span {
	background-color: #fff;
	padding: 2px 10px;
	display: inline-block;
}
.gglplsn-hangout-invite-type td div div {
	word-break: break-word;
}
.gglplsn-noscript-hr {
	width: 85%;
}
.gglplsn-hangout-topic {
    line-height: 35px;
}
.gglplsn-hangout-topic-text {
	max-width: 85% !important;
	max-width: -webkit-calc(100% - 32px) !important;
	max-width: -moz-calc(100% - 32px) !important;
	max-width: calc(100% - 32px) !important;
}
.gglplsn-hangout-topic-radio {
	float: left !important;
	margin-top: 9px !important;
	margin-right: 7px !important;
}
.rtl .gglplsn-hangout-topic-radio {
	float: right !important;
	margin-top: 9px !important;
	margin-right: 0 !important;
	margin-left: 7px !important;
}
.rtl .gglplsn-view-invited span {
	margin-right: 17px;
	margin-left: 0;
}
.gglplsn-hangout-invite-id th,
.gglplsn-hangout-invite-id td {
	padding-top: 0;
}
.gglplsn-view-invited-noscript p label {
	width: 100%;
	width: -webkit-calc(100% - 32px);
	width: -moz-calc(100% - 32px);
	width: calc(100% - 32px);
	word-wrap: break-word;
	display: inline-block;
	float; left;
	padding-left: 3px;
	margin-top: -9px;
}
.gglplsnpr-hangout-topic {
	line-height: 35px;
}
.gglplsn-view-invited-noscript p input {
	float: left;
}
.rtl .gglplsn-view-invited-noscript p input {
	float: right;
}
.gglplsn-plus-one-options .bws_pro_version_bloc {
	display: block;
}
.gglplsn-form > .bws_form > .bws_pro_version_bloc:nth-of-type(2) {
	display: none;
}
@media screen and ( max-width: 1408px ) {

	table.bws_pro_version th {
		padding-right: 31px;
	}
	.rtl table.bws_pro_version th {
		padding-right: 15px;
	}
	.bws_pro_version img {
		width: 100%;
		max-width: 365px;
	}
	.gglplsn-pro-version-preview {
		display: table-row !important;
	}
	.gglplsn-preview-wrap {
		display: none !important;
	}
	.gglplsn-preview-wrap .bws_hide_premium_options {
		position: static;
		float: right;
	}
	.gglplsn-preview {
		margin-right: 0;
	}
	.gglplsn-form > .bws_form > .bws_pro_version_bloc {
		display: block !important;
	}
	.gglplsn-form > .bws_form > .gglpsn-bottom-pro-block th {
		padding: 0 10px;
	}
}
@media screen and ( max-width: 1077px ) {

	.gglplsn-form {
		width: auto !important;
		display: inherit;
	}
}
@media screen and ( max-width: 783px ) {

	.gglplsn-premium-option-tr th {
		padding-right: 30px;
		height: 34px;
	}
	.gglplsn-premium-option-tr th button {
		display: block;
	}
	.gglplsn-premium-option-tr td button {
		display: none;
	}
	th .gglplsn-premium-option {
		background-position: 0 4px;
	}
	.gglplsn-view-invited-noscript {
		margin-bottom: -9px;
	}
	.gglplsn-view-invited-noscript > p {
		margin-bottom: 5px !important;
	}
	.gglplsn-view-invited-noscript > p:last-child {
		margin-bottom: 0 !important;
	}
}